.Cart {
}
.CartItem {
  margin: 15px;
  padding: 15px;
  /* width: 400px;
  height: 150px; */
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  border: 2px solid red;
}

.CartItem span {
  padding: 5px;
}
